.container_work {
    margin: 1em;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3em;
    margin-bottom: 1em;
}

.header > h2 {
    font-size: 1.375em;
    margin: auto;
}

.header > p {
    font-size: 0.75em;
}

.header a {
    color: #00A8E8;
}