.container_navbar {
    background: rgba(9, 12, 13, 0.75);
    width: 90%;
    height: 3em;
    margin: auto;
    border-radius: 0 0 16px 16px;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar_expanded {
    animation-name: expand;
    animation-duration: 1s;
    height: 7em;
}

.navbar_collapsed {
    animation-name: collapse;
    animation-duration: 1s;
    height: 3em;
}

.language_selector {
    color: white;
    font-size: large;
    margin-left: 1em;
    cursor: pointer;
}

.active_language {
    background-color: #090c0d;
    padding: .4em;
    border-radius: 40%;
    margin: 0 1em;
    margin-right: 0;
    cursor: pointer;
}

.active_language + div {
    margin: 0;
    padding: .4em;
    cursor: pointer
}

.menu_container {
    font-weight: bold;
    opacity: 0;
}

.menu_container_unfade {
    animation-name: unfade;
    animation-duration: 1s;
    opacity: 100%;
}

.hamburguer {
    font-size: larger;
    margin-right: 1em;
}

.menu_container li {
    /* Remove native active effect for mobile versions */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

.menu_container li:hover, .hamburguer:hover {
    cursor: pointer;
    color: #d2d2d2;
}

@keyframes expand {
    from {
        height: 3em;
    }
    to {
        height: 7em;
    }
}

@keyframes collapse {
    0% {
        height: 7em;
    }
    100% {
        height: 3em;
    }
}

@keyframes unfade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}