section.container_academic {
    padding: 1em;
    background: #000;
    background: linear-gradient(#000000cc, #000000cc), url('/imgs/book-bg.jpg');
    background-size: cover;
}

.container_academic > h2 {
    text-align: center;
    margin: 1em 0;
}