.container_academic_item {
    border-bottom: 1px solid #FFF;
    display: flex;
    padding: 2em 0;
    max-width: 42rem;
}

.logo {
    width: 100%;
    flex: 1 0 0;
    align-self: center;
    background-color: #FFF;
    border-radius: 50%;
    padding: 1em;
}

.logo > img {
    width: 100%;
}

.item_content {
    flex: 1 1 10em;
    align-items: center;
    text-align: center;
    padding: 0 1em;
}

.item_content p {
    font-size: .75em;
}

.inverted {
    flex-direction: row-reverse;
}